.masthead {
  background: linear-gradient(-45deg, #003399, #e73c7e, #003399, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  padding-top: 50vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.langage {
  text-align: center;

}

.langage img {
  cursor: pointer;
  transition: all 0.3s;
}

.langage img:hover {
  transform: scale(1.2);
}

.appear {
  opacity: 0;
  animation: appear 900ms;
  animation-fill-mode: forwards;
  position: relative;
}

.animate-one {
  animation-delay: 0.5s;
}

.animate-two {
  animation-delay: 1.5s;
}

.animate-three {
  animation-delay: 2.5s;
}

.animate-four {
  animation-delay: 3.5s;
}

.animate-five {
  animation-delay: 4s;
}

@keyframes appear {
  0% {
    opacity: 0;
    left: 100px;
  }

  100% {
    opacity: 1;
    left: 0px;
  }
}


.portfolio-item {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}



.modal-contentPlus {
  width: 800px;
  max-height: 600px;
  display: flex;
  margin: auto;

}


.portfolio-item img {
  width: 13rem;
  height: 13rem;

  border-radius: 50%;
}

.inclined-background {
  transform: skewY(-5deg);
  transform-origin: top left;

  padding: 20px;
  text-align: center;
  background-color: #080a3c;
  color: white;
}

.inclined-container {
  transform: skewY(5deg);
  transform-origin: top left;
  width: 100%;
  text-align: center;
  
}

.soft-card {
  background-color: whitesmoke;
  box-shadow: 0 1px 10px 0 red;
  border-radius: 35px;
  position: relative;
  color: black;
  transition: all 0.3s;
  cursor: pointer;

}

.soft-card:hover{
transform:translateY(-5%);
box-shadow: 0 1px 10px 0 #fed136;
}

.soft-card p {
  font-size: 14px;
}

.soft-card {
  font-size: 22px;
}

.soft-card img {
  height: 70px;
  width: 70px;

}




