// ProductCard.scss
@import './button.scss';
// Variables pour les styles
$card-padding: 0.8rem;
$card-border-radius: 8px;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.455);
$card-background-color: #f9f9f919;
$title-font-size: 1.2rem;
$description-font-size: 0.9rem;
$price-font-size: 1rem;
$button-background: #495154c9;
$button-hover-background: #90a4ae;
$button-color: #fff;
$button-padding: 0.6rem 1rem;
$button-border-radius: 4px;
$button-font-size: 0.9rem;
$overlay-background: rgba(0, 0, 0, 0.5);
$image-height: 200px;

// Animation de déplacement de gauche à droite
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px); // Commence à gauche
  }

  to {
    opacity: 1;
    transform: translateX(0); // Se termine à sa position d'origine
  }
}

.product-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 24px;
  margin-right: 40px;
  height: 480px;
  position: relative;
  transition: 0.15s ease-in;
  max-width: 345px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.129);

  &:hover {
    box-shadow:
            0 0 0 2px #ff5c5c,
            0 10px 60px 0 rgba(#000, 0.1);
    transform: translatey(-5px);
  }
  .product-image-container {
    position: relative;
    cursor: pointer;
    height: $image-height;
    overflow: hidden;

    .product-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 10px;
      overflow: hidden;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $overlay-background;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;

      .plus-icon {
        color: #fff;
        font-size: 1.5rem;
      }
    }

    &:hover .overlay {
      opacity: 1;
    }
  }

  .card-header {
    border-bottom: 2px solid grey;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    h4 {
      font-weight: 600;
      font-size: 1.375rem;
      line-height: 1.25;
      padding-right: 1rem;
      text-decoration: none;
      color: inherit;
      will-change: transform;
      text-align: left;
      width: 60%;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
    .price {
      position: relative;
      top: 40px;
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
  }

  .card-action {
    display: flex;
    justify-content: space-around;
    gap: 8px;
  }

  .card-action .button-market {
    cursor: pointer;
    border: none;
    width: 95%;
    height: 46px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    color: #fff;
    background-color: #536dfe;
    border-radius: 0.5rem;
    font-size: 17px;
    transition: all 0.3s;
    &:hover {
      background-color: #0d2660;
    }
  }

  .card-action .button-info-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .card-action .button-info-container .button-info {
    cursor: pointer;
    border: none;
    width: 95%;
    height: 46px;
    padding: 0;
    color: #fff;
    background-color: #f1425d;
    border-radius: 0.5rem;
    font-size: 17px;
    transition: all 0.3s;
    &:hover {
      background-color: #0d2660;
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  // Style pour le message d'erreur
  .error-message {
    font-size: 0.9rem;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .product-card {
    padding: 18px;
    max-width: 190px;
  

    .product-image-container .product-image {
      height: 80%;
    }

    .card-header {
      flex-direction: column;
      margin-top: 0rem;
      h4 {
        margin: 0;
        width: 100%;
        font-size: 1.188rem;
        text-align: center;
      }
      .price {
        top: 0;
      }
    }

    .card-action {
      display: inline;
    }

    .card-action .button-market {
      margin-top: 12px;
    }
  }
}

@media (max-width: 450px) {
  .product-card {
    padding-bottom: 25px;
  }
}